package views

templ Home() {
	<div class="w-full h-screen bg-cyan-100">
		<h1 class="text-2xl font-bold">Hello WOrld</h1>
		<p class="text-red-500 text-lg font-semibold">lkasjhlkjasdflaksfj;asdlkja;flkaskjdsf;lkasdjflk</p>
	</div>
}
